.header {
  width: 300px;
  display: flex;
  margin: 0 auto;
  border: 2px solid #000;
  border-bottom: none;
}

.header__clear {
  border: none;
  font-size: 20px;
  padding: 10px;
  margin: 0px;
  background-color: #ef4444;
  color: white;
  border-right: 2px solid #000;
}

.header__download {
  flex-grow: 1;
  font-size: 20px;
  padding: 10px;
  background-color: #10b981;
  color: white;
  text-decoration: none;
}
